<!--@subject {{var store.getFrontendName()}}: Review Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
  <tr>
      <td class="action-content">
          <h1>Dear {{var customername}},</h1>
        </td>
  </tr>
  <tr>
      <td class="order-details">
        <h3>Your order <span class="no-link">#{{var increment_id}}</span></h3>
        <p>To improve our services quality, we invite you to write a review about this order.</p>
        <p>To write reviews, <a href="{{var reviewUrl}}">simply click on this link</a>.</p>
      </td>
  </tr>
</table>

{{template config_path="design/email/footer"}}
