<?xml version="1.0"?>
<config>
  <modules>
	  <Feedback_Salesreport>
		  <version>1.1</version>
	  </Feedback_Salesreport>
  </modules>
  <global>
    <blocks>
      <salesreport>
        <class>Feedback_Salesreport_Block</class>
      </salesreport>
    </blocks>
    <helpers>
      <salesreport>
        <class>Feedback_Salesreport_Helper</class>
      </salesreport>
    </helpers>
    <models>
      <salesreport>
        <class>Feedback_Salesreport_Model</class>
				<resourceModel>salesreport_mysql4</resourceModel>
      </salesreport>
      <salesreport_mysql4>
          <class>Feedback_Salesreport_Model_Mysql4</class>
          <entities>
              <review>
                  <table>feedback_review</table>
              </review>
          </entities>
      </salesreport_mysql4>
    </models>
    <resources>
        <salesreport_setup>
            <setup>
                <module>Feedback_Salesreport</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </salesreport_setup>
    </resources>
    <template>
			<email>
				<salesreport_general_template_email translate="label">
					<label>Feedback Reviews</label>
					<file>sales/feedback_reviews.html</file>
					<type>html</type>
				</salesreport_general_template_email>
			</email>
		</template>
	</global>
  <admin>
    <routers>
        <salesreport>
            <use>admin</use>
            <args>
                <module>Feedback_Salesreport</module>
                <frontName>orderreviews</frontName>
            </args>
        </salesreport>
    </routers>
  </admin>
  <adminhtml>
    <translate>
      <modules>
        <salesreport>
          <files>
            <default>Feedback_Salesreport.csv</default>
          </files>
        </salesreport>
      </modules>
    </translate>
  </adminhtml>
  <frontend>
      <routers>
          <salesreport>
              <use>standard</use>
              <args>
                  <module>Feedback_Salesreport</module>
                  <frontName>reviews</frontName>
              </args>
          </salesreport>
      </routers>
      <layout>
           <updates>
               <salesreport>
                   <file>salesreport.xml</file>
               </salesreport>
           </updates>
       </layout>
  </frontend>
	<default>
    <salesreport>
      <general>
  	   <enabled>1</enabled>
  	   <number_days>3</number_days>
  	   <status_order>complete</status_order>
       <sender_email>general</sender_email>
       <template_email>salesreport_general_template_email</template_email>
      </general>
    </salesreport>
  </default>
  <crontab>
      <jobs>
          <salesreport_sendmail>
              <schedule><cron_expr>* 5 * * *</cron_expr></schedule>
              <run><model>salesreport/observer::sendEmailFeedback</model></run>
          </salesreport_sendmail>
      </jobs>
  </crontab>
</config>
